.contact-container{
     display: flex;
     justify-content: center;
     gap: 10rem;
     position: absolute;
     left: 0;
     right: 0;
     top: 25%;
}


.contact-info-container{
     display: flex;
     flex-direction: column;
     max-width: 400px;
     gap: 2rem;
}

.contact-info-container h3{
     color: #f0f0f0;
     align-self: center;
}

.contact-info-container>p{
     color: rgb(230, 230, 230);
     text-align: justify;
     font-weight: 300;
     padding: 0 1rem;
}

.contact-info-links{
     width: 250px;
     align-self: center;
    
}

.contact-info-links p{
     margin: 1rem 0;
     display: flex;
     align-items: center;
     gap: 1rem;
     color: rgb(165, 165, 165);
}

.contact-info-links p img{
     height: 35px;
}

.contact-form-container{
     max-width: 500px;
     height: auto;
}

.contact-form-container h3{
     color: #f0f0f0;
     text-align: center;
}

.contact-form{
     background-color: rgba(27,31,34,0.80);
     width: 400px;
     margin-top: 2rem;
     padding: 1.5rem 1rem;
     border-radius: 5px;
}

.contact-form>div{
     margin-bottom: 5px;
}

.contact-form label{
     color: rgb(180, 180, 180);
     font-weight: 300;
     font-size: 14px;
}

.contact-form input{
     width: 100%;
     height: 25px;
     border-radius: 5px;
     border: 1px solid gainsboro;
     background: none;
     color: whitesmoke;
     padding-left: 5px;
}

.contact-form input:focus{
    background: rgba(255, 255, 255, 0.2);
}

.contact-form textarea{
     width: 100%;
     background: none;
     border-radius: 5px;
     border: 1px solid gainsboro;
     color: whitesmoke;
     font-size: 14px;
     padding-left: 5px;
}


.contact-form textarea:focus{
     background: rgba(255, 255, 255, 0.2);
}


.flexme2{
     display: flex;
     gap: 1rem;
}

.flexme2 div:first-child{
     flex-basis: 35%;
}

.contact-form>div:last-child{
     margin-bottom: 0!important;
}

.contact-form button{
     padding-top: 1rem;
     background: none;
     border: none;
     cursor: pointer;
     font-size: 14px;
     color: #AF893A;
     font-weight: 600;
     letter-spacing: 1px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: auto;
     margin: auto;
     gap: 5px;
}

.contact-form button img{
     height: 18px;
}

@media(max-width:1024px){
     .contact-container{
          flex-direction: column;
          align-items: center;
          gap: 5rem;
     }

     footer{
          margin-top: 30rem;
     }
}

@media(max-width:464px){
     .contact-container h3{
          font-size: 16px;
     }
     .contact-container p{
          font-size: 13px;
     }

     .contact-form{
          width: 350px;
     }

     .footer-container{
          gap: 1.5rem!important;
     }

     .footer-container a{
          font-size: 14px!important;
      }

      #copyr{
          font-size: 12px!important;
      }
}



 

 #contact{
     position: relative;
 }



 .footer-container{
     display: flex;
     justify-content: center;
     gap: 3rem;
     background: none;


 }

 .footer-container a{
     text-decoration: none;
     color: rgb(170, 170, 170);
     font-size: 18px;
 }

 #copyr{
     text-align: center;
     display: block;
     color: rgb(170, 170, 170);
     font-weight: 300;
     margin-top: 1rem;
     letter-spacing: 1px;
     font-size: 14px;
 }