
.hero-wrapper{
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     max-width: 600px;
     height: 250px;
}

.hero-wrapper div{
     display: flex;
     flex-direction: column;
}


.line{
     border: 4px solid #EDB846;
     border-radius: 3px;
     max-width: 78%;
     transform: translate(8rem, -1.75rem);
}

.hero-brand{
     color: #f0f0f0;
     font-family: 'Bruno Ace SC', cursive;
     font-size: 70px;
     text-align: center;

}

.hero-wrapper div h2:last-child{
     align-self: end;
     width: 200px;
     text-align: right;
     color: #EDB846;
     font-weight: 300;
     margin-top: 1rem;
}

.hero-wrapper div h1{
     font-weight: 300;
     color: rgb(185, 185, 185);
}


/* responsiveness */
@media(max-width: 858px){
     .line{
          display: none;
     }
     
     .hero-wrapper div{
          align-items: center;
     }

     .hero-wrapper div h1{
          font-size: 17px;
     }

     .hero-wrapper div h2:last-child{
          align-self: center;
          text-align: center;
          font-size: 17px;
     }

     .hero-brand{
          font-size: 50px;
     }    
}

@media(max-width:642px){

     .hero-wrapper div h1{
          font-size: 17px;
     }

     .hero-wrapper div h2:last-child{
          font-size: 17px;
     }

     .hero-brand{
          font-size: 40px;
          max-width: 300px;
     }

     .nav-brand{
          font-size: 16px;
     }
    
}

@media(max-width:452px){
     .nav-brand{
          
          font-size: 14px;
     }
}

.landing-container{
     height: 100vh!important;
}